.categories {
  margin: 100px 30px 0;
}

.categories__list {
  padding: 0;
}

.categories__title {
  font-weight: bold;
}

.categories__item {
  list-style: none;
  cursor: pointer;
}

.categories__item > a {
  color: black;
  text-decoration: none;
}

.categories__item > a:hover {
  color: #ffa69e;
}