.banner {
  position: relative;
}

.banner-title {
  position: absolute;
  z-index: 10;
  left: 40%;
  top: 50%;
  color: #fff;
  font-size: 30px;
  font-weight: 700;
  width: 450px;
  text-align: center;
}
