.banner__image {
  position: relative;
  z-index: 5;
}

.banner__title {
  position: absolute;
  z-index: 10;
  left: 40%;
  top: 35%;
  color: #fff;
  font-size: 30px;
  font-weight: 700;
  width: 450px;
  text-align: center;
}
