.categories {
  padding: 120px 0 0 125px;
}

.categories__title {
  margin-bottom: 69px;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  text-transform: capitalize;
  color: #2B463C;
}

.categoryList {
  display: flex;
}

.categoryList__list {
  display: flex;
  flex-direction: column;
  margin-right: 55px;
  background: #FFFFFF;
  border-radius: 5px;
  width: 235px;
  box-shadow: -50px 50px 200px #F2F2F2;
  margin-bottom: 245px;
}

.categoryList__image {
  margin: 32px 0 60px;
  text-align: center;
}

.categoryList__text {
  margin: 0 15px 45px 70px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  text-decoration: none;
}

/* @media screen and (min-width: 1366px) {
  .categories {
    padding: 85px 0 0 89px;
  }
  
  .categories__title {
    margin-bottom: 49px;
    font-size: 16px;
    line-height: 26px;
  }
  
  .categoryList__list {
    margin-right: 37px;
    border-radius: 3px;
    width: 165px;
  }
  
  .categoryList__image {
    margin: 22px 0 42px;
  }
  
  .categoryList__text {
    margin: 0 11px 32px 50px;
    font-size: 12px;
    line-height: 21px;
  }

  .categoryList__images {
    width: 58px;
    height: 71px;
  }

  .categoryList__image {
    margin: 16px 0 30px;
  }
} */