.card__product--offers {
  width: 369px;
  margin: 100px 0 188px;
  background: #FFFFFF;
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.1);
}

.card__product--selling {
  width: 369px;
  border-radius: 20px;
  margin: 50px 0 164px;
  background: #FFFFFF;
}

.card__product--popular {
  background: #FFFFFF;
  border-radius: 10px;
  margin-bottom: 159px;
  box-shadow: 0px 16px 70px rgba(0, 0, 0, 0.1);
}

.cart__link {
  text-decoration: none;
  color: #2B463C;
}

.card__offers {
  padding: 59px 0 60px 44px;
}

.card__selling,
.card__popular {
  padding: 57px 0 15px 40px;
}

.card__unit {
  margin: 9px 0 14px;
}

.card__item--offers,
.card__item--selling,
.card__item--popular {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card__item--offers {
  margin: 33px 90px 0;
}

.card__item--selling,
.card__item--popular {
  margin: 0 100px;
}

.card__counter {
  display: flex;
  justify-content: space-between;
  margin: 0 35px 18px;
}

.cardOffersList__title {
  margin: 33px 0 0 130px
}

.cardPopular__title {
  margin: 205px 0 44px 103px
}

.cardProductSelling__title {
  padding: 84px 0 49px 125px;
}

.cardProductSellingList {
  background: #F4F1E9;
}

/* @media screen and (min-width: 1200px) {
  .card__product--offers {
    width: 269px;
    margin: 71px 0 133px;
  }
  
  .card__product--selling {
    width: 269px;
    border-radius: 14px;
    margin: 35px 0 117px;
  }
  
  .card__offers {
    padding: 40px 0 42px 31px;
  }
  
  .card__selling {
    padding: 40px 0 11px 28px;
  }
  
  .card__unit {
    margin: 6px 0 10px;
  }

  .card__item--offers {
    margin: 23px 64px 0;
  }
  
  .card__item--selling {
    margin: 0 71px;
  }
  
  .card__counter {
    margin: 0 25px 12px;
  }

  .cardProductList__title {
    margin: 23px 0 0 93px
  }

  .cardProductSelling__title {
    padding: 60px 0 35px 89px;
  }
} */