.card__product--offers {
  width: 369px;
  margin: 100px 0 188px;
  background: #FFFFFF;
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.1);
}

.card__product--selling {
  width: 369px;
  border-radius: 20px;
  margin: 50px 0 164px;
  background: #FFFFFF;
}

.card__offers {
  padding: 59px 0 60px 44px;
}

.card__selling {
  padding: 57px 0 15px 40px;
}

.card__unit {
  margin: 9px 0 14px;
}

.card__item--offers,
.card__item--selling {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card__item--offers {
  margin: 33px 90px 0;
}

.card__item--selling {
  margin: 0 100px;
}

.card__counter {
  display: flex;
  justify-content: space-between;
  margin: 0 35px 18px;
}

.cardProductList__title {
  margin: 33px 0 0 130px
}

.cardProductSelling__title {
  padding: 84px 0 49px 125px;
}

.cardProductSellingList {
  background: #F4F1E9;
}