.btn-primary {
  font-size: 18px;
  padding: 11px 20px;
  margin-top: 25px;
  border: 2px solid var(--color-heading);
  box-sizing: border-box;
  border-radius: 50px;
  color: var(--color-heading);
  background-color: transparent;
}

.btn-secondary {
  padding: 14px 54px;
  background: var(--master-color);
  border-radius: 50px;
  border: none;
}

.btn-hover {
  padding: 14px 36px;
  background: var(--color-heading);
  border-radius: 50px;
  border: none;
  font-size: 16px;
  letter-spacing: 1px;
}

.btn-btn__hover {
  padding: 14px 54px;
  background: var(--master-color);
  border-radius: 50px;
  border: none;
}

.btn-third {
  background: var(--color-heading);
  padding: 9px 16px;
  border: 2px solid #4B4B4B;
  box-sizing: border-box;
  border-radius: 50px;
}