.filter {
  padding: 50px 100px 0;
}

.filter__overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: none;
  animation: fadeIn linear 0.3s;
}

.filter__input:checked~.filter__overlay {
  display: block;
}

.filter__input:checked~.filters {
  transform: translateX(0%);
  opacity: 1;
}

.filters {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  width: 300px;
  max-width: 100%;
  background-color: #fff;
  transform: translateX(0%);
  opacity: 0;
  transition: transform linear 0.3s, opacity linear 0.3s;
  z-index: 10;
}

@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}