.feature-icon {
  background-color: #E7CFF5;
  display: inline-block;
  padding: 40px;
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
}

.feature-icon--shipping {
  background-image: url(../../assets/images/truck-icon.svg)
}

.feature-icon--return {
  background-image: url(../../assets/images/return.svg);
}

.feature-icon--secure {
  background-image: url(../../assets/images/lock.svg);
}

.feature-icon--support {
  background-image: url(../../assets/images/support.svg);
}

.feature-icon--fabric {
  background-image: url(../../assets/images/fabric.svg);
}

.feature-icon--wood {
  background-image: url(../../assets/images/wood.svg);
}

.feature-icon--timeless {
  background-image: url(../../assets/images/timeless.svg);
}

.feature-icon--style {
  background-image: url(../../assets/images/style-icon.svg);
}

.feature-icon--construction {
  background-image: url(../../assets/images/construction-icon.svg);
}

.feature-icon--broom {
  background-image: url(../../assets/images/care-icon.svg);
}

.feature-icon--materials {
  background-image: url(../../assets/images/material-icon.svg);
}

@media screen and (min-width: 1280px) {
  .feature-icon {
    position: absolute;
    top: 0;
    left: 0;
  }
}