.menu__list {
  display: flex;
  align-items: center;
}

.menu__item {
  list-style: none;
  cursor: pointer;
  font-size: 16px;
  line-height: 19px;
  margin-right: 32px;
}

.menu__item > a {
  text-decoration: none;
  font-weight: 400;
  color: black;
}

@media screen and (min-width: 1366px) {
  .menu__item {
    font-size: 11px;
    line-height: 13px;
    margin-right: 22px;
  }
}