.icon-user {
  background-image: url(/images/icons/user.svg);
  display: inline-block;
  width: var(--w-small);
  height: var(--h-small);
}

.icon-trash {
  background-image: url(/images/icons/trash.svg);
  display: inline-block;
  width: var(--w-tiny);
  height: var(--h-tiny);
}

.icon-cart {
  background-image: url(/images/icons/shopping-bag.svg);
  display: inline-block;
  width: var(--w-small);
  height: var(--h-small);
}
