.custom-dropdown {
  position: relative;
}

.custom-dropdown::after {
  content: '';
  position: absolute;
  left: 335px;
  top: 40%;
  display: inline-block;
  width: 12px;
  height: 8px;
  background-image: url(/images/icons/arrow.svg);
}

.dropdown {
  width: 370px;
  border-radius: 8px;
  border: 1px solid #E3E5ED;
  padding: 11px 24px;
  -moz-appearance: none;
  -webkit-appearance:none;
  appearance: none;
}
