.custom-dropdown {
  position: relative;
}

.custom-dropdown::after {
  content: '';
  position: absolute;
  left: 335px;
  top: 40%;
  display: inline-block;
  width: 12px;
  height: 8px;
  background-image: url(/images/icons/arrow.svg);
}

.dropdown {
  width: var(--w-medium);
  border-radius: var(--rounded-tiny);
  border: 1px solid var(--border-primary);
  padding: var(--p-base) var(--py-normal);
  -moz-appearance: none;
  -webkit-appearance:none;
  appearance: none;
}
