.popup {
  position: absolute;
  background-color: var(--text-secondary);
  padding: var(--px-normal);
  bottom: 60px;
  left: 40px;
  width: 245px;
}

.popup-btn {
  text-align: center;
  margin-top: 15px;
}

.popup-cancel {
  margin-right: 5px;
  border: none;
  border-radius: 3px;
}

.popup-delete {
  background-color: var(--text-primary);
  border: none;
  border-radius: 3px;
}
