.popup {
  position: absolute;
  background-color: #696969;
  padding: 20px;
  bottom: 60px;
  left: 60px;
  width: 215px;
}

.popup-btn {
  text-align: center;
  margin-top: 5px;
}

.popup-cancel {
  margin-right: 5px;
  border: none;
  border-radius: 3px;
}

.popup-delete {
  background-color: var(--text-quaternary);
  border: none;
  border-radius: 3px;
}
