.popup {
  position: absolute;
  background-color: var(--light);
  margin-right: 10px;
  border-radius: var(--rounded-primary);
  padding: var(--px-extra-normal);
  top: 40%;
  right: 100%;
  width: 245px;
}

.popup-btn {
  text-align: center;
  margin-top: 30px;
}

.popup-cancel,
.popup-delete {
  padding: 10px 20px;
  border: none;
  border-radius:  var(--rounded-tertiary);
}

.popup-cancel {
  margin-right: 5px;
}

.popup-delete {
  background-color: var(--text-primary);
}
