.expert {
  background-image: url(/images/backgrounds/home-page-oto.png);
  background-size: cover;
}

.expert-position {
  margin: 0 auto;
  max-width: 1140px;
}

.expert-title {
  text-align: center;
  padding-top: 60px;
}

.expert-list {
  display: flex;
  padding-bottom: 40px;
  justify-content: space-between;
}

.expert-layout {
  position: absolute;
  left: 32%;
  top: -25%;
  z-index: var(--z-sm);
}

.expert-image {
  border-radius: 50%;
}
