.shopPage__heading {
  margin: 100px 0 70px 443px;
  font-size: 24px;
  line-height: 36px;
  color: #979797;
}

.shopPage__info {
  display: flex;
}

.shopPage__select {
  background: #F4F1E9;
}

.shopPage__title {
  padding: 32px 198px 47px 98px;
  font-weight: 600;
  font-size: 27px;
  line-height: 40px;
  color: #2B463C;
}

.shopPage__product {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 99px;
}