.footer {
  background-color: var(--dark);
}

.footer-content {
  display: flex;
  justify-content: space-between;
  padding: var(--px-medium) var(--py-medium);
  margin: 0 auto;
  width: var(--w-extra-large);
}

.footer-email {
  margin-top: 15px;
  width: var(--w-base);
}

.footer-text {
  margin: 40px 0 32px;
  line-height: var(--leading-primary);
}

.footer-social {
  margin-top: 90px;
}