.btn {
  color: #555;
  border-color: #555;
  border-radius: 3px;
  background-color: transparent;
  cursor: pointer;
  font-family: "Poppins";
  font-weight: bold;
}

.btn__primary {
  display: flex;
  align-self: center;
  line-height: 30px;
  height: 35px;
}

.btn__secondary {
  padding: 5px;
  margin: 0 auto;
  align-self: center;
  display: flex;
}

.btn__secondary:hover {
  color: white;
  background-color: #555;
}

.btn__update {
  border: none;
  color: green;
  height: 35px;
  font-size: larger;
}

.btn__delete {
  position: absolute;
  z-index: 5;
  top: 3%;
  right: 5%;
  color: red;
  border: none;
  font-size: 15px;
  display: none;
}

.btn__delete:hover {
  display: block;
}

.btn__no,
.btn__yes {
  border: 1px solid gray;
  margin: 3px;
}

.btn__yes:hover {
  color: white;
  border-color: green;
  background-color: green;
}

.btn__no:hover {
  color: white;
  border-color: orange;
  background-color: orange;
}