.card {
  border-radius: 8px;
  width: 158px;
  text-align: center;
  margin-bottom: 16px;
  background-color: var(--color-heading);
  box-shadow: 0px 2px 4px var(--color-box-shadow);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}

.card__info {
  border-radius: 8px 8px 0 0;
  padding: 10px 0 3px;
}
.card__info--freemium {
  background: url(../../assets/images/freemium.png) no-repeat top;
  background-size: cover;
}