.blog-heading {
  font-size: var(--f-xlarge);
  font-weight: var(--w-bold);
  color: #3c4858;
  padding-bottom: 20px;
  text-align: center;
  margin-top: 50px;
}

.blog-navigation {
  position: relative;
  z-index: 30;
  box-shadow: var(--bs-second);
}

.blog-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 80px
}

.blog-item {
  margin: 0px 25px;
}