@font-face {
  font-family: Montserrat;
  src: url(../../assets/fonts/Montserrat/Montserrat-Bold.ttf);
}

@font-face {
  font-family: SourceSansPro;
  src: url(../../assets/fonts/SourceSansPro/SourceSansPro-Regular.ttf);
}