.btn-primary,
.btn-secondary {
  cursor: pointer;
  border: none;
  font-size: 11px;
  padding: 14px 27px;
  border-radius: 50px;
  color: var(--light);
  text-transform: uppercase;
}

.btn-primary {
  background-color: var(--bg-primary);
}

.btn-secondary {
  background-color: var(--bg-secondary);
}
