@import url(../../../icon/fontawesome-free-6.0.0-beta3-web/css/all.css);
.nav > .nav__icon {
  display: block;
}
.nav__menu {
  display: none;
}
@media screen and (min-width: 1280px) {
  .nav__menu {
    list-style-type: none;
    display: flex;
  }
  .nav__menu-item {
    margin-left: 30px;
  }
  .nav > .nav__icon {
    display: none;
  }
}