.header {
  padding: 24px 15px;
  display: flex;
  justify-content: space-between;
  background: url(../../assets/images/backgrounds/banner.png) no-repeat;
  background-size: cover;
  padding-bottom: 10%;
}

.header__content {
  padding: 0 210px;
  display: flex;
  flex-direction: column;
  align-items: center;
}