.category-card {
  width: 223px;
  display: flex;
  flex-direction: column;
}

.category-card-image {
  margin: 32px 0 60px;
  text-align: center;
}

.category-card-text {
  margin: 0 15px 45px 70px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: var(--dark);
  text-decoration: none;
}