.cardCategory {
  width: 225px;
  display: flex;
  flex-direction: column;
}

.categoryList__text {
  margin: 0 15px 45px 70px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  text-decoration: none;
}

.categoryList__list {
  display: flex;
  flex-direction: column;
  margin-right: 55px;
  background: #FFFFFF;
  border-radius: 5px;
  width: 235px;
  box-shadow: -50px 50px 200px #F2F2F2;
}