.style-our-expert {
  background-color: #fff;
}

.style-expert {
  padding: 80px 80px 50px;
}

.style-heading {
  font-size: 30px;
  font-weight: 700;
  color: #3c4858;
  padding-bottom: 20px;
}

.style-card {
  display: flex;
}

.style-title {
  width: 750px;
}

.style-navigation {
  position: relative;
  z-index: 30;
  box-shadow: 0 4px 18px 0px rgb(0 0 0 / 12%), 0 7px 10px -5px rgb(0 0 0 / 15%);
}

.style-description {
  text-align: center;
  padding: 70px;
  margin: 0 auto;
  max-width: 1140px;
}

.style-layout {
  padding: 50px 90px;
}

.style-layout-image {
  position: absolute;
  z-index: 20;
  left: 45%;
  top: -25%;
}

.style-image {
  border-radius: 50%;
}

.style-info {
  text-align: center;
  padding: 80px;
}

.style-name {
  font-size: 24px;
  color: #3c4858;
  font-weight: 700;
}

.style-content {
  font-family: "Roboto";
  color: #3c4858;
  margin: 20px;
}

.style-author {
  display: flex;
  align-items: center;
  margin-right: 90px;
}

.style-funeral > p {
  margin: 0 0 10px 20px;
  font-size: 14px;
  font-family: "Roboto";
}

.style-funeral > p > span {
  font-weight: 700;
}

.style-info-regular {
  text-align: left;
}

.container-expert {
  position: relative;
  z-index: 15;
  margin: -70px 30px 80px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.style-not-found {
  position: fixed;
  top: 40%;
  left: 43%;
  text-align: center;
}

.style-number {
  font-size: 50px;
  font-weight: 700;
}

.style-back {
  margin: 10px 0;
}

.style-back > button {
  padding: 7px 30px;
  border: 1px solid var(--text-primary);
}

.style-back > button:hover {
  background-color: var(--text-primary);
}
