.ourExpert {
  background-color: #fff;
}

.heading {
  font-size: 30px;
  font-weight: 700;
  color: #3c4858;
  padding-bottom: 20px;
}

.navigation {
  position: relative;
  z-index: 30;
  box-shadow: 0 4px 18px 0px rgb(0 0 0 / 12%), 0 7px 10px -5px rgb(0 0 0 / 15%);
}

.description {
  text-align: center;
  padding: 70px 300px;
}

.expert {
  padding: 150px 120px 30px;
}

.layout {
  padding: 50px 90px;
}
