@font-face {
  font-family: "RobotoSlab";
  src: url(../../assets/fonts/RobotoSlab-Regular.ttf);
}

html * {
  font-family: "RobotoSlab";
}

.container {
  position: absolute;
  z-index: 15;
  border-radius: 5px;
  top: 50%;
  left: 40px;
  right: 40px;
  background-color: #fff;
}
