@font-face {
  font-family: "RobotoSlab";
  src: url(../../assets/fonts/RobotoSlab-Regular.ttf);
}

html * {
  font-family: "RobotoSlab";
}

body,
.first-line,
.secondary-line {
  background-color: #eee;
}

.first-line {
  height: 20px;
  margin-bottom: 40px;
}

.secondary-line {
  height: 100px;
}

.container {
  position: absolute;
  z-index: 15;
  border-radius: 5px;
  top: 83%;
  left: 30px;
  right: 30px;
  background-color: #fff;
}
