.form {
  margin: 80px 0 200px;
  text-align: center;
  height: 540px
}

.form-input {
  width: var(--w-extra-medium);
  margin: 0 auto;
}

.form-email {
  margin: var(--m-4xl) 0 var(--m-extra-medium);
}

.form-password {
  margin-bottom: var(--m-extra-medium);
}

.form-error {
  text-align: left;
  color: var(--border-tertiary);
  font-size: var(--text-sm);
  margin-top: var(--m-tiny);
  padding-left: var(--py-extra-base);
}
