.form {
  margin: 80px 0 200px;
  text-align: center;
  height: 540px
}

.form-input {
  width: var(--w-extra-medium);
  margin: 0 auto;
}

.form-email {
  margin: 60px 0 24px;
}

.form-password {
  margin-bottom: 24px;
}

.form-error {
  color: var(--border-tertiary);
  font-size: 14px;
  margin-top: 3px;
}
