.card-expert {
  position: relative;
  z-index: 5;
  width: 251px;
  border: 2px solid var(--border-primary);
}

.card-layout {
  position: absolute;
  left: 25%;
  top: -35%;
  z-index: 10;
}

.card-image {
  border-radius: 50%;
}

.card-name {
  cursor: pointer;
  text-align: center;
  color: var(--dark);
  font-size: 18px;
  font-weight: 700;
  padding: 100px 10px 10px;
}

.card-name:hover {
  color: var(--bg-primary);
}

.card-info {
  text-align: center;
  color: var(--text-primary);
  font-size: 13px;
}

.card-button {
  margin: 20px 0 15px;
  text-align: center;
}

.card-button > button {
  border: none;
  background-color: var(--border-primary);
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.card-button > button:hover {
  color: var(--bg-primary);
}
