:root {
  /* Text color */
  --light: #fff;
  --dark: #02021d;

  --text-primary: #c1f651;
  --text-secondary: #696969;
  --text-tertiary: #75869c;
  --text-quaternary: #81d376;

  /* Font size */
  --text-sm: 14px;
  --text-base: 20px;
  --text-medium: 40px;
  --text-extra-medium: 48px;
  --text-large: 66px;

  /* Font weight */
  --font-medium: 500;

  /* Line height */
  --leading-primary: 24px;
  --leading-secondary: 46px;
  --leading-tertiary: 56px;
  --leading-quaternary: 74px;

  /* Border color */
  --border-primary: #e3e5ed;

  /* Border radius */
  --rounded-primary: 32px;

  /* Padding */
  --p-tiny: 11px;
  --px-normal: 20px;

  /* Width */
  --w-tiny: 20px;
  --w-small: 24px;
  --w-medium: 48px;
  --w-medium: 370px;
  --w-large: 470px;

  /* Height */
  --h-tiny: 20px;
  --h-small: 24px;
}
