.section__signUp {
  display: flex;
  background: var(--bg-light);
}

.section__content {
  margin-top: 167px;
}

.section__info {
  margin: 89px 0 29px;
}

.section__address > button {
  margin-left: 10px;
}